<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Rating</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Movie Name</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies | async">
          <td>{{movie.userName}}</td>
          <td>{{movie.movieName}}</td>
          <!--<td><img src="{{movie.picture}}" width="150" height="150"/></td>-->
          <td>{{movie.rating}}</td>
          <td><button (click)="deleteMovie(movie.id)" class="btn btn-danger">Delete </button>
           <button (click)="modify(movie.id)" class="btn btn-success">update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

